// -----------------------------------------------------------------------------
// # button
// * 21.11.02
// * kimyoojin
// -----------------------------------------------------------------------------
@mixin btnReset($radius: 8px, $height: 40px, $padding: 10px 24px, $fs: toRem(14), $fw: bold){
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: $radius;
  line-height: 1;
  height: $height;
  padding: $padding;
  font-size: $fs;
  font-weight: $fw;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  &:hover,
  &.focus,
  &:active{
    background-color: #dbe2f3;
  }
  &:disabled,
  &.is_disabled{
    background-color: #f3f3f3;
    color: #999999;
    cursor: default;
  }
  @content;
}
// color mixin
@mixin c_primary(){
  &_primary{
    border-color: transparent;
    background-color: #2090ff;
    color: #ffffff;
    @content;
    &:hover,
    &.focus,
    &:active{
      background-color: #1065d9;
    }
    &:disabled,
    &.is_disabled{
      background-color: #e9e9e9;
      color: #999;
    }
  }
}
@mixin c_secondary(){
  &_secondary{
    border-color: transparent;
    background-color: #e5efff;
    color: #0080ff;
    @content;
    &:hover,
    &.focus,
    &:active{
      background-color: #dbe2f3;
      color: #1065d9;
    }
    &:disabled,
    &.is_disabled{
      background-color: #f3f3f3;
      color: #999;
    }
  }
}
@mixin c_ghost(){
  &_ghost{
    border-color: #e2e5eb;
    background-color: #fff;
    color: #111111;
    @content;
    &:hover,
    &.focus,
    &:active{
      border-color: #2090ff;
      background-color: #f3f3f3;
      color: #1065d9;
    }
    &:disabled,
    &.is_disabled{
      border-color: #fff;
      background-color: #e9e9e9;
      color: #999;
    }
  }
}

// basic
.btn_base,
.btn_base_primary,
.btn_base_secondary,
.btn_base_ghost{
  @include btnReset(){
    border-color: transparent;
    background-color: #f4f6fb;
    color: #111111;
    font-weight: $fw-m;
  };
}

.btn_util,
.btn_util_primary,
.btn_util_ghost{
  @include btnReset($radius: 6px, $height: 28px, $padding: 7px 8px, $fs: toRem(13), $fw: normal){
    border-color: transparent;
    background-color: #959fb1;
    color: #ffffff;
    white-space: nowrap;
    &:hover,
    &.focus,
    &:active{
    background-color: #959fb1;
    color: #ffffff;
    }
    &:disabled,
    &.is_disabled{
      background-color: #e9e9e9;
      color: #999;
    }
  }
}

// color
.btn_base,
.btn_util{
  @include c_primary();
  @include c_secondary();
  @include c_ghost(){
    color: #666;
  };
}
// size
.btn_base,
.btn_base_primary,
.btn_base_secondary,
.btn_base_ghost{
  &.sm{
    padding-left: 9px;
    padding-right: 9px;
    min-width: 97px;
  }
  &.md{
    padding-left: 9px;
    padding-right: 9px;
    min-width: 121px;
  }
}

.btn_util,
.btn_util_primary,
.btn_util_ghost{
  &.sm{
    min-width: 51px;
  }
  &.md{
    min-width: 76px;
  }
}


// isArrow
.btn_base .ico,
.btn_txt .ico,
.btn_txt_sm .ico{
  flex-shrink: 0;
  margin-left: 4px;
  vertical-align: text-bottom;
}

// text
.btn_txt{
  display: inline-block;
  font-size: toRem(16);
  color: #111;
  text-decoration: none;
  cursor: pointer;
  &.sm{
    font-size: toRem(14);
    color: #666;
  }
  &_primary{
    color: #2090ff;
  }
  .ico{
    background-color: #666;
  }
}
.btn_txt_sm{
  display: inline-block;
  font-size: toRem(14);
  color: #666;
  text-decoration: none;
  cursor: pointer;
  &_primary{
    color: #2090ff;
  }
  .ico{
    background-color: #666;
  }
}

.btn_link{
  display: inline-block;
  font-size: toRem(13);
  color: #2090ff;
  text-decoration: underline;
  cursor: pointer;
  &:disabled{
    color: #999;
    cursor: default;
  }
}

// icon
.btn_icon{
  position: relative;
  display: inline-block;
  // width: toRem(20);
  // height: toRem(20);
  vertical-align: middle;
  cursor: pointer;
}

// group
.btn_group{
  display: flex;
  justify-content: space-between;
  .btn_base,
  .btn_base_primary,
  .btn_base_secondary,
  .btn_base_ghost,
  .btn_util,
  .btn_util_primary,
  .btn_util_ghost{
    flex: 1 0 0;
  }
  [class^="btn_"]+[class^="btn_"]{
    margin-left: 4px;
  }
}

// group block
.btn_group_block{
  display: flex;
  .btn_base,
  .btn_base_primary,
  .btn_base_secondary,
  .btn_base_ghost{
    flex: 1 1 0;
    border-radius: 0;
    height: toRem(60);
    padding: toRem(20) 0;
    font-size: toRem(16);
    font-weight: 600;
  }
  .msg_alarm{
    position: absolute;
    bottom: 60px;
    width: 100%;
    padding: 0 21px 24px 21px;
  }
}

// group round
.btn_group_round{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .btn_base,
  .btn_base_primary,
  .btn_base_secondary,
  .btn_base_ghost{
    flex: 0 0 auto;
    border-radius: toRem(12);
    width: 100%;
    height: toRem(42);
    padding: toRem(12) 0;
  }
  [class^="btn_"]+[class^="btn_"]{
    margin-top:toRem(10);
  }
}

.btn_group_util{
  display: flex;
  flex-wrap: nowrap;
  .btn_base,
  .btn_base_primary,
  .btn_base_secondary,
  .btn_base_ghost{
    @include btnReset($radius: 6px, $height: 28px, $padding: 7px 8px, $fs: toRem(13), $fw: normal)
  }
  [class^="btn_"]+[class^="btn_"]{
    margin-left: 4px;
  }
}


// isCard
.btn_base.type_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  height: auto;
  padding: 24px;
}
// more
.btn_base.type_more{
  display: flex;
  align-items: center;
  justify-content: center;
  .more_num {
    display: inline-flex;
    align-items: center;
    height: toRem(12);
    em{
      height: 100%;
      line-height: 0.825;
      font-size: toRem(14);
    }
    .is_on{
      border-right: 1px solid #555;
      margin:0 toRem(4);
      padding-right: toRem(4);
      color: #555;
    }
  }
}

// isPoint
.message .btn_txt{
  display: block;
  padding: 10px 12px;
  font-size: inherit;
  color: inherit;
  text-align: center;
}

// btnCombi
.btn_group_combi{
  > .btn_base,
  > .btn_base_primary,
  > .btn_base_secondary,
  > .btn_base_ghost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    height: auto;
    line-height: 1.25;
    padding: 24px 16px;
    text-align: left;
    font-weight: normal;
  }
  .inner-text{
    display: block;
    color: #111;
    max-width: 90%;
    .tit{
      line-height: 1.5;
      font-size: toRem(16);
      font-weight: bold;
      @include ellipse();
    }
    .txt{
      display: block;
      margin-top: 6px;
      font-size: toRem(14);
      font-weight: normal;
    }
  }
  
  .inner-text.type2{
    position: relative;
    margin-left: 48px;
    .tit > .ico{
      position: absolute;
      top: 3px;
      left: -32px;
      margin: 0;
    }
    dl {
      font-size: toRem(14);
      font-weight: normal;
      > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        line-height: 1.57;
      }
      dd{
        margin-left: 5px;
        font-weight: bold;
      }
    }
    .txt{
      display: block;
      margin-top: 12px;
      line-height: 1.57;
      font-size: toRem(14);
      color: #666;
    }
  }
  &.reserv-box{
    .reserv_tit{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn_base{
      display: block;
      padding: 22px 16px;
      .dlist_detail{
        margin-top: 24px;
      }
    }
    .txt_list{
      margin-top: 16px;
    }
  }
}
.btn_group_combi+.btn_group_combi{
  margin-top: 12px;
}

.btn_group,
.btn_group_round{
  + .btn_group,
  + .btn_group_round{
    margin-top:toRem(12);
  }
}

