.floating-banner {
  position: fixed;
  right: 10px;
  padding: 10px;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  background-color: #ccc;
  width: 205px;
  height: 60px;
  display: flex;
  justify-content: right;
  z-index: 10;
  animation: banner1 0.2s 3.4s ease-in-out forwards, banner2 0.2s 3.6s ease-in-out forwards;
  i {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 999px;
    background: #000;
    opacity: 0;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h20v20H0z'/%3E%3Cpath fill='%23000' d='M10.99 10l5.505-5.505a.7.7 0 0 0-.99-.99L10 9.011 4.496 3.506a.699.699 0 1 0-.99.99L9.011 10l-5.505 5.505a.699.699 0 1 0 .989.989l5.506-5.505 5.505 5.505a.696.696 0 0 0 .989 0 .7.7 0 0 0 0-.99L10.99 10z'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h20v20H0z'/%3E%3Cpath fill='%23000' d='M10.99 10l5.505-5.505a.7.7 0 0 0-.99-.99L10 9.011 4.496 3.506a.699.699 0 1 0-.99.99L9.011 10l-5.505 5.505a.699.699 0 1 0 .989.989l5.506-5.505 5.505 5.505a.696.696 0 0 0 .989 0 .7.7 0 0 0 0-.99L10.99 10z'/%3E%3C/g%3E%3C/svg%3E");
    animation: close1 0.2s 4.0s ease-in-out forwards;
  }
  p {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    opacity: 1;
    margin-right: 10px;
    animation: label1 0.2s 3s ease-in-out forwards, label2 0.2s 3.2s linear forwards;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    font-size: 0.8em;
    color: #fff;
    background-color: green;
    animation: btnbg1 0.2s 3.8s ease-in-out forwards;
  }
}

@keyframes label1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes label2 {
  0% {
    position: absolute;
  }
  100% {
    position: absolute;
    font-size: 0em;
  }
}

@keyframes banner1 {
  0% {
    width: 205px;
  }
  100% {
    width: 60px;
  }
}
@keyframes banner2 {
  0% {
    background-color: #ccc;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes btnbg1 {
  0% {
    background-color: green;
  }
  100% {
    background-color: #007aff;
  }
}
@keyframes close1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}