// -----------------------------------------------------------------------------
// # popup
// * 21.11.02
// * kimyoojin
// -----------------------------------------------------------------------------

// dimmed
.popup-area {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  &.open{
    visibility: visible;
  }
  &.no_dimed{
    background-color: transparent;
  }
}

// 공통
.popup{
  position: fixed;
  background-color: $white;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  &.fixed-head .pop-head {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 74px;
  }
  &.fixed-foot{
    .pop-body {
      max-height: calc(90vh - 48px);
    }
    .pop-foot {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
  &.pop-bottom {
    left: 0;
    bottom: 0;
    border-radius: toRem(20) toRem(20) 0 0;
    max-width: 100%;
    -webkit-transition: bottom 0.4s linear;
    transition: bottom 0.4s linear;
    z-index: 120;
  }
  &.pop-layer{
    top: 50%;
    left: 50%;
    border-radius: toRem(8);
    max-width: toRem(276);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 130;
  }
  &.pop-keypad{
    bottom: 0;
    left: 0;
    border-top:1px solid $gray5;
    border-radius:0;
    max-width: 100%;
    -webkit-transition: bottom 0.4s linear;
    transition: bottom 0.4s linear;
    z-index: 120;
  }
  .pop-head{
    position: relative;
    display: flex;
    align-content: center;
    width: 100%;
    overflow: hidden;
    &.has-line::after {
      content: '';
      position: absolute;
      left: toRem(21);
      right: toRem(21);
      bottom: 1px;
      height: 1px;
      background-color: $gray5;
    }
    .pop-title {
      flex: 1 1 auto;
      margin: 0;
      font-size: toRem(16);
      font-weight: bold;
      @include ellipse();
    }
    .btn-close {
      border: 0;
      background: transparent;
      margin-left: auto;
      padding: 0;
      width: toRem(20);
      height: toRem(20);
      font-size: 0;
      cursor: pointer;
    }
  }
  .pop-body {
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
  }
  .pop-head:not(.has-line)+.pop-body > .pop-sec:first-child{
      padding-top: 0;
  }
  .pop-sec{
    padding-top: toRem(32);
    padding-bottom: toRem(32);
  }
  .pop-foot {
    overflow: hidden;
  }
}

// Alert
.pop-layer {
  &.fixed-head {
    padding-top: 74px;
    .pop-body {
      max-height: calc(90vh - 48px);
    }
  }
  &.fixed-foot {
    padding-bottom: toRem(48);
    .btn_base_primary,
    .btn_base_secondary,
    .btn_base{
      height: 48px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &.fixed-head.fixed-foot .pop-body {
    max-height: calc(90vh - 100px);
  }
  .pop-head {
    padding: toRem(16);
    border-radius: toRem(8) toRem(8) 0 0;
  }
  .pop-body {
    min-height: toRem(100);
  }
  .pop-foot {
    border-radius: 0 0 toRem(8) toRem(8);
  }
  .pop-sec {
    padding-left: toRem(16);
    padding-right: toRem(16);
    margin-top:10px;
    .in-tit{
      margin:toRem(32) 0 toRem(6);
      font-size:toRem(16);
      font-weight:bold;
      &:first-of-type{
        margin-top:0;
      }
    }
  }
  .pop-sec:only-child{
    margin: 0;
  }
}

// bottom modal
.pop-bottom{
  &.fixed-head {
    padding-top: 74px;
    .pop-body {
      max-height: calc(90vh - 66px);
    }
  }
  &.fixed-foot {
    padding-bottom: toRem(60);
  }
  &.fixed-head.fixed-foot .pop-body {
    max-height: calc(90vh - 126px);
  }
  .pop-head {
    border-radius: toRem(20) toRem(20) 0 0;
    padding: toRem(30) toRem(20) toRem(24);
    .btn-close {
      width: 36px;
      height: 20px;
    }
    .btn_wrap{
      margin-left: auto;
      display: inline-flex;
      align-content: center;
      .btn_icon{
        width: 36px;
        height: 20px;
        font-size: 0;
        border: 0;
        background: transparent;
      }
      .btn-close::before{
        content :'';
        display: inline-block;
        width: 1px;
        height: 16px;
        background-color: #e9e9e9;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
  .pop-body{
    min-height: toRem(150);
  }
  .pop-sec {
    padding-left: toRem(21);
    padding-right: toRem(21);
  }
  .pop-sec + .pop-sec {
    border-top: toRem(6) solid $gray6;
  }
}


// 키패드
.pop-keypad{
  .pop-sec{
    padding:0 toRem(12);
  }
  .btn-wrap{
    display:flex;
    flex-wrap: wrap;
    margin-bottom:toRem(8);
    padding:toRem(24) 0;
    border-bottom:1px solid $gray5;
    > span{
      display:grid;
      flex:1;
      padding:0 6px;
      &:first-child{
        padding-left:0;
      }
      &:last-child{
        padding-right:0;
      }
    }
  }
  .key-wrap{
    .key-item{
      display:flex;
      flex-wrap: wrap;
      > span{
        display:grid;
        flex:1;
      }
      .btn{
        padding:0;
        height:70px;
        font-size:toRem(22);
        color:#0b0d0f;
      }
      .btn.delete{
        background: url('#{$img-src}/icon/icon-backspace@2x.png') no-repeat center;
        background-size: toRem(70);
      }
      .btn.complete{
        font-size:toRem(17);
        color:#0068ff;
      }
      .blind-txt{
        border:0;
        clip:rect(0 0 0 0);
        clip-path: inset(50%);
        width:1px;
        height:1px;
        white-space: nowrap;
        position:absolute;
        overflow: hidden;
        margin: 0;
        padding:0;
      }
    }
  }
}


// pc
@media screen and (min-width: 1024px) {
  .popup-area ::-webkit-scrollbar {
    width: toRem(3);
    background: $white;
  }
  .popup-area ::-webkit-scrollbar-thumb {
    background: $gray3;
  }
  .popup-area .pop-layer {
    max-width: toRem(440);
  }
  .popup-area.open .pop-bottom {
    bottom: auto;
  }
  .popup-area .pop-bottom {
    position: fixed;
    bottom: auto;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: toRem(600);
    background-color: $white;
    border-radius: toRem(8);
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .popup-area .pop-bottom .pop-foot {
    border-radius: 0 0 toRem(8) toRem(8);
  }
}


// 삭제 예정
.pop-layer .btn-group-cta .btn {
  min-height: toRem(48);
}
.pop-bottom.fixed-foot .btn-group .btn {
  min-height: toRem(48);
}
.pop-bottom .btn-group {
  display: block;
}
.bottom-subtitle + .bottom-subtitle {
  border-top: 1px solid #e2e5eb;
  padding-top: toRem(32);
  margin-top: toRem(32);
  line-height: toRem(24);
}
