// -----------------------------------------------------------------------------
// private style (kwak hyanghoon
// -----------------------------------------------------------------------------

// guide
.guide_content {
  padding: 0 toRem(21);
  background-color: $gray6;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding-top: toRem(21);
  section {
    background-color: $white;
    margin-bottom: 20px;
    padding: 20px;
    .g_tit {
      @include font-st(1.25rem, #bbb, $fw-b, normal);
      margin-bottom: 20px;
    }
    .g_stit {
      @include font-st(0.875rem, $fc-black, $fw-b, normal);
      margin-bottom: 10px;
    }
    .g_xstit {
      @include font-st(0.75rem, #888, $fw-b, normal);
      margin: 20px 0 12px;
    }
    .box {
      margin-bottom: 30px;
    }
    .box.gtit_line {
      padding-top: 2.0625rem;
      border-top: 1px solid #111;
    }
  }
}

// title
/*
.page_title {
  width: 100%;
  position: relative;
  .title {
    @extend %heading;
    font-size: $h3-font-size;
    line-height: $line-height-lg;
  }
  .sub_text {
    @include font-st(0.875rem, $gray2, $fw-r, normal);
    line-height: $line-height-lg;
    margin-top: toRem(12);
    .info_desc {
      color: $blue2;
      font-size: toRem(14);
      > span {
        display: inline-block;
        margin-left: toRem(6);
        vertical-align: middle;
      }
      > a {
        display: inline-block;
        margin-left: toRem(6);
        vertical-align: middle;
        cursor: pointer;
        font-size: toRem(14);
        color: #555555;
        letter-spacing: toRem(-1);
        &:hover {
          color: #555555;
        }
      }
      .common-chevron-right {
        margin-bottom: toRem(4);
      }
    }
    .err {
      color: #e60000;
    }
  }
  .count {
    position: absolute;
    right: 0;
    top: toRem(2);
    font-family: $font-family-number;
    .text_current {
      position: relative;
      left: toRem(3);
      font-weight: 500;
      color: #0080ff;
    }
    .text_all {
      font-weight: 500;
    }
    .text_all:before {
      content: "|";
      margin: 0 toRem(2) 0 0;
      height: toRem(14);
      overflow: hidden;
      display: inline-block;
      position: relative;
      // top: 0.063rem;
    }
  }
  .card {
    float: right;
    top: toRem(34);
    position: absolute;
    right: 0;
  }
}
*/



// sub title
.amount_tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  dt {
    font-size: 0.875rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    span {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.375rem;
      padding-right: 0.375rem;
    }
  }
  &.add_btn {
    dd {
      color: #111111;
      font-weight: 500;
    }
  }
  .form-switch {
    .form-check-input {
      margin: 0;
    }
  }
}
.repayment_noti {
  .tit {
    font-size: 1rem;
    font-weight: bold;
    color: #111111;
  }
  .sub_tit {
    display: block;
    margin-top: 0.375rem;
    font-size: 0.875rem;
    color: #111111;
  }
  .txt {
    display: block;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #666666;
    line-height: 1.57;
  }
}

// text
.info_desc {
  .text {
    font-size: toRem(14);
    margin-left: toRem(6);
    letter-spacing: toRem(-1);
  }
}

.tab_pane {
  .ico-msg-box {
    margin-top: toRem(16);
  }
  .dot_list {
    margin-top: toRem(24);
  }
}

.ico_msg_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: toRem(16);
  img {
    width: toRem(220);
  }
  div {
    line-height: toRem(24);
    margin-top: toRem(24);
  }
  & + .amount-dl {
    margin-top: toRem(24);
  }
}

.unit_sort {
  display: inline-flex;
  align-items: center;
  > span {
    @include split-line(toRem(12), $gray5);
    padding-left: toRem(16);
    margin-left: toRem(16);
    &:first-child {
      padding-left: 0;
      margin-left: 0;
    }
    &:first-child::before {
      display: none;
    }
  }
}

.dot_list {
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    padding-left: toRem(10);
    font-size: $fs-md;
    line-height: 1.57;
    color: $gray2;
    word-break: keep-all;
    letter-spacing: toRem(-1);
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: toRem(8);
      left: 0;
      width: toRem(4);
      height: toRem(4);
      border-radius: 100%;
      background-color: $gray2;
    }
    & + li {
      margin-top: toRem(16);
    }
    .dash_list {
      margin-top: toRem(8);
    }
    .col1 {
      color: $blue2;
    }
    .text_link {
      @extend %btn-font-style6;
    }
  }
  .txt-t2 {
    color: $black;
    &::before {
      background-color: $black;
    }
  }
  .bold {
    font-weight: $fw-b;
  }
}

.dash_list {
  li {
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: toRem(10);
      left: 0;
      width: toRem(4);
      height: 1px;
      border-radius: 100%;
      background-color: $gray2;
    }
    & + li {
      margin-top: toRem(8);
    }
  }
}

// link text
.text_link {
  @extend %btn-link-style;
  color: $primary;
  text-decoration: underline;
  vertical-align: baseline;
  padding: 0;
  &:hover,
  &:focus,
  &:active {
    color: $blue3;
  }
  &:disabled,
  &.disabled {
    color: $gray4;
    .ico {
      background-color: $gray4;
    }
  }
}
.form_text {
  display: block;
  width: 100%;
  color: $gray2;
  margin-top: toRem(8);
  font-size: $fs-sm;
  .text_link {
    font-size: toRem(13);
  }
}

// card text
.card_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card-img {
    width: toRem(120);
    height: toRem(189);
    img {
      width: 100%;
    }
  }
  .card_info {
    margin-top: toRem(24);
    text-align: center;
    .card_tit {
      font-size: toRem(16);
      font-weight: 700;
      color: $black;
    }
    .card_sub {
      display: inline-flex;
      flex-direction: row;
      justify-content: stretch;
      margin-top: toRem(12);
      font-size: toRem(13);
      li + li {
        position: relative;
        padding-left: toRem(12);
      }
      li + li:before {
        content: "";
        position: absolute;
        top: toRem(3);
        left: toRem(6);
        display: inline-block;
        width: 1px;
        height: toRem(12);
        background: $gray5;
      }
    }
  }
}

// basic typograpy
.inner_text {
  .inner_tit {
    display: flex;
    justify-content: space-between;
    font-size: toRem(16);
    font-weight: 700;
    color: $black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    // &:first-child {
    //   margin-bottom: toRem(8);
    // }
    &:not(:first-child) {
      margin-top: toRem(8);
    }
  }
  .inner_txt {
    font-size: toRem(14);
    color: #666;
    margin-top: toRem(8);
  }
  .inner_txt2 {
    font-size: toRem(16);
    color: #666;
    margin-top: toRem(8);
  }
  .unit_wrap {
    display: flex;
    align-items: center;
  }
  &.type_sub .inner_txt,
  &.type_sub .inner_txt2 {
    color: $black;
  }
  &.type_title2 .inner_tit {
    font-size: toRem(20);
  }
  &.type_unit .inner_txt {
    display: flex;
    .badge {
      margin-left: auto;
    }
  }
  &.type_unit .unit_wrap {
    .badge {
      margin-left: auto;
    }
    .form-switch {
      margin-left: auto;
    }
  }
}

// icon text
.inner_box {
  display: flex;
  align-items: center;
  .inner_icon {
    width: toRem(40);
    height: toRem(40);
    margin-right: toRem(10);
    .ico {
      width: 100%;
      height: 100%;
    }
  }
  .inner_text .inner_tit:first-child {
    margin-bottom: toRem(6);
  }
  .inner_text .inner_tit:not(:first-child) {
    margin-top: toRem(6);
  }
  .inner_text_group .inner_text + .inner_text {
    margin-top: toRem(16);
  }
  &.type_card {
    .inner_icon {
      width: toRem(20);
      height: toRem(32);
      img {
        height: 100%;
      }
    }
    .inner_txt {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      color: $black;
      li + li {
        position: relative;
        padding-left: toRem(12);
      }
      li + li:before {
        content: "";
        position: absolute;
        top: toRem(3);
        left: toRem(6);
        display: inline-block;
        width: 1px;
        height: toRem(12);
        background: $gray5;
      }
    }
  }
  &.type_icon2 {
    align-items: baseline;
    .inner_icon {
      width: toRem(32);
      height: toRem(32);
    }
  }
  &.type_icon3 {
    .ico {
      margin-right: toRem(8);
    }
    .inner_text {
      display: flex;
      align-items: center;
      width: 100%;
      .inner_tit {
        margin: 0;
      }
    }
    .inner_img {
      width: toRem(30);
      height: toRem(48);
      margin-left: auto;
      img {
        height: 100%;
      }
    }
  }
}

// Typography
.txt_t1,
.txt_t2,
.txt_t3,
.txt_t4,
.txt_t5 {
  color: #111111;
  font-weight: 400;
  line-height: 1.25;
}
.txt_t1 {
  font-size: 1rem;
  font-weight: 700;
}
.txt_t2 {
  font-size: 1rem;
}
.txt_t3 {
  font-size: 0.875rem;
}
.txt_t4 {
  font-size: 0.875rem;
  line-height: 1.5;
}
.txt_t5 {
  font-size: 0.8125rem;
}
.txt_wb {
  font-weight: 700;
}
.txt_wm {
  font-weight: 500;
}
.txt_wr {
  font-weight: 400;
}

.number_t1,
.number_t2,
.number_t3,
.number_t4 {
  color: #111111;
  font-family: "Lato", -apple-system, "NotoKR", system-ui;
  font-weight: 700;
  line-height: 1.25;
  word-break: break-word;
}
.number_t1 {
  font-size: 3rem;
}
.number_t2 {
  font-size: 2rem;
}
.number_t3 {
  font-size: 1rem;
}
.number_t4 {
  font-size: 0.875rem;
  font-weight: 700;
}

// .form_check.form_switch {
//   display: flex;
//   align-items: center;
//   align-self: flex-start;
//   padding-left: 0;
//   .form_check_label {
//     margin-top: 0;
//     font-size: inherit;
//     vertical-align: middle;
//   }
//   .form_check_input[type="checkbox"] {
//     float: none;
//     margin-left: 0;
//     margin-bottom: 0;
//     width: 2.625rem;
//     height: 1.5rem;
//     border-radius: 2em;
//     border-color: #dcdcdc;
//     background-color: #dcdcdc;
//     background-position: initial;
//   }
// }

// wcms
.k_wcmsready {
  margin: toRem(20) toRem(0);
  padding: toRem(20) toRem(10);
  background-color: pink;
  text-align: center;
}
.wcms_title-wrap.wcms_type1 {
  .wcms_tit_bx {
    .wcms_tit {
      font-size: 1.25rem;
    line-height: 1.25;
    }
  }
}
.wcms_txt {
  font-size: toRem(14);
  color: #666;
  line-height: toRem(22);
  margin-top: toRem(16);
}
.wcms_eward_list {
  text-align: center;
  li {
    display: inline-block;
    margin: 0 toRem(16);
    span {
      display: inline-block;
      height: toRem(64);
      width: toRem(64);
      border-radius: 50%;
      margin-top: toRem(32);
    }
  }
}
.wcms_title-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  .wcms_sub-title {
    font-size: 1.25rem;
    line-height: 1.25;
    word-break: keep-all;
    color: #111111;
    font-weight: 700;
  }
}
.wcms_list-group {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  width: 100%;
  .wcms_list-group-item {
    position: relative;
    border: 0rem none;
    padding: 0;
    padding-left: 1.75rem;
    color: #111111;
    font-weight: bold;
    padding-bottom: 2rem;
    list-style: none;
    &:last-child {
      padding-bottom: 0;
    }
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      border-left: 2px dotted #999999;
      top: 1.4rem;
      bottom: 0;
      left: 0.5625rem;
      z-index: 1;
    }
  }
}
.wcms_step-num {
  position: absolute;
  left: 0.25rem;
  top: 4px;
  width: 0.8125rem;
  height: 0.8125rem;
  line-height: 0.75rem;
  font-size: 0.5625rem;
  text-align: center;
  background-color: #000;
  border-radius: 0.75rem;
  margin-right: 1rem;
  font-weight: 300;
  color: #fff;
  z-index: 3;
}

// 02.카드이용
.l_title_wrap {
  padding-bottom: 1rem;
  .btn_togo {
    font-size: toRem(14);
    color: #666666;
    position: absolute;
    right: 0;
    bottom: 0.875rem;
    .common-chevron-right {
      position: relative;
      top: toRem(-1);
    }
  }
  &.line_type {
    .sub {
      position: absolute;
      right: toRem(0);
      bottom: toRem(24);
      color: #0080ff;
    }
  }
  .divider::after {
    content: "";
    border-right: 1px solid #e9e9e9;
    display: inline-block;
    height: toRem(16);
    position: relative;
    top: toRem(4);
    margin-right: toRem(7);
  }
}
.page_title.type2 {
  margin-top: 0;
  .ico {
    position: relative;
    top: toRem(-42);
    margin-right: toRem(8);
  }
}
.gift {
  .btn_group_combi {
    margin-top: toRem(16);
    .btn_base {
      background-color: #fff;
      border: 1px solid #e2e5eb;
      .tit {
        font-weight: 500;
      }
    }
  }
}
.use-list-wrap {
  .dlist_detail.type2 {
    dt {
      position: relative;
      top: toRem(16);
    }
    dd > span > em {
      position: relative;
      top: toRem(4);
    }
  }
  .date {
    > em::before {
      content: "";
      border-left: 1px solid #e2e5eb;
    }
  }
  .disp-info {
    & + .amt-breakdown {
      margin-top: toRem(16);
    }
    & + .dlist_wrap .dlist_detail.bdr_top {
      margin-top: toRem(32);
    }
    .detail-disp {
      margin-bottom: toRem(16);
      .badge {
        margin-right: toRem(8);
      }
      .amount-dl > div {
        align-items: baseline;
      }
      .detail {
        display: inline-block;
        color: $black;
        font-size: toRem(16);
        font-weight: $fw-r;
        line-height: $line-height-base;
        > em {
          font-weight: bold;
        }
        &:last-of-type {
          margin-right: 0;
          padding-right: 0;
        }
        &:last-of-type::before {
          content: "";
          border-left: 1px solid #e2e5eb;
          display: inline-block;
          width: toRem(1);
          height: toRem(14);
          position: relative;
          top: toRem(1);
          margin-right: toRem(4);
        }
      }
    }
    .price-disp {
      .dlist_detail .d_col {
        align-items: flex-end;
      }
      .price-amount {
        font-size: toRem(24);
        .price {
          margin-right: toRem(4);
        }
      }
    }

    &.num-unit01 {
      .detail-disp {
        .detail {
          font-size: toRem(14);
        }
      }
      .price-disp {
        span {
          font-size: toRem(16);
          em {
            font-size: toRem(32);
          }
        }
      }
    }
    &.num-unit02 {
      margin: 3rem 0 1.5rem;
      .disp-box {
        & + .disp-box {
          margin-top: 1.5rem;
        }
        .detail-disp {
          .detail {
            font-size: toRem(14);
          }
        }
        .price-disp {
          display: flex;
          justify-content: space-between;
          span {
            font-size: toRem(16);
            em {
              font-size: toRem(32);
            }
          }
          .price-amount {
            &.before {
              margin-left: 6px;
              font-size: toRem(16);
              color: $gray3;
              em {
                font-size: toRem(16);
                text-decoration: line-through;
              }
            }
          }
          .btn {
            padding: toRem(10) toRem(24);
            font-weight: 500;
          }
        }
      }
    }
    .amount-col {
      align-items: baseline;
      margin-bottom: toRem(32);
    }
  }
  .btn_txt {
    width: 100%;
    font-size: toRem(14);
    color: #666;
    margin-top: toRem(26);
    .ico {
      position: relative;
      top: toRem(2);
    }
    &.is_active {
      .ico {
        transform: rotate(180deg);
      }
    }
  }
}
.l_title_wrap.type_title3 {
  padding: toRem(24) 0 !important;
  .title {
    font-size: 1rem;
    line-height: 1.25;
  }
}
.card-mount {
  .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .txt {
      margin-right: toRem(54);
    }
    .card-img {
      width: toRem(30);
      flex: 0 0 auto;
    }
  }
  .amount {
    margin-top: toRem(32);
    dt {
      font-weight: $fw-r;
    }
    dd {
      margin: toRem(6) 0 0;
      font-size: toRem(24);
      .price {
        margin-right: toRem(4);
        font-size: toRem(32);
        font-family: $font-family-number;
      }
    }
  }
}
.dlist_wrap {
  .dlist_detail {
    .common-mark-help {
      position: relative;
      top: toRem(-1);
    }
  }
}
.dlist_wrap.mount {
  .price-txt {
    font-size: toRem(24);
    margin-top: toRem(16);
  }
}
.filter-bar {
  display: block;
  margin-top: toRem(16);
  border-top: 1px solid $gray5;
  background-color: $gray7;
  font-size: toRem(13);
  color: $gray2;
  > ul {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: toRem(14) toRem(10);
    li {
      position: relative;
      display: inline-block;
      max-width: toRem(278);
      padding-right: toRem(8);
      margin-right: toRem(4);
      > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        color: #666;
      }
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0.125rem;
        right: 0;
        bottom: 0;
        width: 1px;
        height: auto;
        background-color: #d8d8d8;
      }
      &:last-of-type::after {
        display: none;
      }
      &:last-of-type {
        margin: 0;
        padding: 0;
      }
    }
  }
  & + .dlist_wrap {
    margin-top: toRem(26);
  }
}
.filter_box {
  .disp-info {
    margin-top: toRem(24);
    .price-amount {
      font-size: toRem(16) !important;
      color: #0080ff;
    }
    .detail:nth-of-type(2) {
      &::before {
        content: "";
        border-left: 1px solid #e2e5eb;
        display: inline-block;
        height: toRem(14);
        position: relative;
        top: toRem(2);
        margin-right: toRem(5);
      }
    }
    .detail {
      > em {
        font-weight: bold;
      }
    }
  }
  .title-wrap {
    position: relative;
    padding-bottom: toRem(14);
    .title {
      font-size: 1.25rem;
      line-height: 1.25;
      text-decoration: none;
    }
    .all_con {
      position: absolute;
      right: 0;
      bottom: 0.875rem;
      display: flex;
    }
    .divider::after {
      content: "";
      border-right: 1px solid #e9e9e9;
      display: inline-block;
      height: 1rem;
      position: relative;
      top: 0.25rem;
      margin-right: 0.4375rem;
    }
  }
}
.tab_wrap {
  .l_title_wrap.line_type {
    padding-bottom: toRem(24);
    .all_con > button {
      top: toRem(-10);
    }
  }
}
.search_undone {
  position: relative;
  width: 100%;
  .ic_msg_bx {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: left;
    margin-top: toRem(64);
    line-height: toRem(22);
    font-size: toRem(14);
    color: #666;
    .ic_bx img {
      width: toRem(120);
    }
    .txt_bx {
      margin-bottom: toRem(12);
    }
  }
}
.disp-info.link {
  .common-chevron-right {
    position: relative;
    top: toRem(-3);
  }
}
.title-wrap + .amount-dl {
  margin-top: toRem(16);
}
.title-wrap {
  .tit_bx {
   .sub_tit {
     font-size: toRem(14);
     color: #666666;
   } 
  }
  .btn_togo {
    font-size: 0.875rem;
    color: #666666;
    position: relative;
    top: toRem(6);
    .ico {
      position: relative;
      top: toRem(-2);
    }
  }
  .divider::after {
    content: "";
    border-right: 1px solid #e9e9e9;
    display: inline-block;
    height: toRem(16);
    position: relative;
    top: toRem(4);
  }
}
.title-wrap.line_type {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e2e5eb;
}
.list-box.type2 {
  background-color: #f4f6fb;
  border: 0px none;
  .title {
    display: flex;
    justify-content: space-between;
  }
  .dlist_detail.bdr-top {
    padding-top: toRem(22);
  }
}
.popup-area {
  .pop-bottom {
    .divider {
      position: absolute;
      right: 0;
      top: toRem(27);
      right: toRem(46);
      &::after {
        content: "";
        border-right: 1px solid #e9e9e9;
        display: inline-block;
        height: 1rem;
        position: relative;
        top: 0.25rem;
        margin-right: 0.4375rem;
      }
    }
  }
}
.detail_info2.type_sub {
    border-top: 1px dashed #e2e5eb;
    margin-top: toRem(2);
    .tit_wrap dl dd .price-amount {
      color: #e60000;
    }
}
.benefit-txt {
  > li {
    margin-top: toRem(32);
    > p:nth-child(2) {
      font-size: toRem(14);
      color: #666;
      margin-top: toRem(6);
    }
  }
}
.sum_tit {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 0;
  .item_bx .txt_price {
    color: #0080ff;
  }
}
.notice_area {
  .txt.event {
    font-size: 0.875rem;
    line-height: 1.57;
    color: #0080ff;
    .ico {
      position: relative;
      top: toRem(-1);
    }
  }
}
.accordion_button {
  > .ico {
    position: relative;
    top: toRem(-13);
    margin-right: toRem(6);
  }
  .divide {
    font-weight: bold;
    color: #0080ff;
    position: relative;
    top: toRem(1);
    &::before {
      content: "";
      border-right: 1px solid #e9e9e9;
      display: inline-block;
      height: toRem(14);
      position: relative;
      top: toRem(1);
      margin-right: toRem(6);
      margin-left: toRem(6);
    }
  }
}
.dlist_detail {
  .auto_pay {
    font-size: toRem(14);
    color: #666;
    margin-left: auto;
    .ico {
      position: relative;
      top: toRem(-1);
    }
  }
}
.list-dot-box {
  box-sizing: border-box;
  padding: 0 1rem;
  border: 1px solid #e2e5eb;
  border-radius: 0.75rem;
  .txt_list.type_dot {
    > li + li {
      margin-top: toRem(16);
    }
  }
}

.detail_info2.virtual .cont_bx {
  .info_wrap {
    .info_tx {
      > div {
        margin-top: 5px;
      }
      display: block;
      .virtual_link {
        color: #0080ff;
        text-decoration: underline;
        position: absolute;
        right: 0;
        font-size: 13px;
      }
    }
  }
}
.detail_info2.virtual .cont_bx.virtual_bx {
  margin-top: 24px;
}
.detail_info2.virtual .cont_bx.virtual_bx:nth-of-type(2) {
  border-top: 1px solid #e2e5eb;
  padding-top: 24px;
}